# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
venv/
env/
.env

# Archivos temporales del sistema
nul
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Reportes generados
reportes/
